In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib qt

In [8]:
athenafile=r'C:\Users\pattammattel\Desktop\Ajith2020Q3\nanoXANES\fe_refs.nor'
athenafile2=r'C:\Users\pattammattel\Desktop\MIDAS_Admin\sample_data\marked3.nor'

In [9]:
def create_df_from_nor(athenafile='fe_refs.nor'):
    """create pandas dataframe from athena nor file, first column
    is energy and headers are sample names"""

    refs = np.loadtxt(athenafile)
    n_refs = refs.shape[-1]
    skip_raw_n = n_refs+6

    df = pd.read_table(athenafile, delim_whitespace=True, skiprows=skip_raw_n,
                       header=None, usecols=np.arange(0, n_refs))
    df2 = pd.read_table(athenafile, delim_whitespace=True, skiprows=skip_raw_n-1,
                        usecols=np.arange(0, n_refs + 1))
    new_col = df2.columns.drop('#')
    df.columns = new_col
    return df, list(new_col)

In [10]:
def create_df_from_nor_try2(athenafile='fe_refs.nor'):
    """create pandas dataframe from athena nor file, first column
    is energy and headers are sample names"""

    refs = np.loadtxt(athenafile)
    n_refs = refs.shape[-1]
    
    df = pd.read_csv(athenafile,header = None)
    new_col = (str(df.iloc[n_refs+5].values)).split(' ')[2::2]

    return refs, new_col

In [11]:
athenafile2=r'C:\Users\pattammattel\Desktop\MIDAS_Admin\sample_data\marked9.nor'
dff = pd.read_csv(athenafile2,header = None)
a, b = create_df_from_nor_try2(athenafile2)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\pattammattel\\Desktop\\MIDAS_Admin\\sample_data\\marked9.nor'

In [174]:
len(b)

10

In [146]:
refs = (str(dff.iloc[15].values)).split(' ')[2::2]

'Fe_foilCal_007_Mar_17.avg'

In [83]:
pd.DataFrame(np.loadtxt(athenafile2))

,0,1,2,3,4,5,6,7,8
0,7100.0,0.003750,0.001363,0.002234,0.001700,0.001233,0.002241,0.003599,0.006554
1,7100.5,0.002218,0.001384,0.001944,0.002083,0.001601,0.002470,0.003817,0.007203
2,7101.0,0.001380,0.000252,0.002073,0.002200,0.001931,0.002887,0.004203,0.007907
3,7101.5,-0.000230,0.000249,0.002454,0.002577,0.002207,0.003243,0.004626,0.008351
4,7102.0,0.000630,0.000798,0.003234,0.002528,0.002652,0.003596,0.005021,0.009198
...,...,...,...,...,...,...,...,...,...
74,7137.0,0.986370,1.101436,1.114888,1.381955,1.268854,1.297036,0.953633,0.965586
75,7137.5,0.986380,1.103535,1.116355,1.380306,1.264052,1.285023,0.952266,0.964049
76,7138.0,0.986746,1.103826,1.118293,1.376636,1.251572,1.267003,0.953234,0.964210
77,7138.5,0.989066,1.103959,1.117462,1.369144,1.232563,1.244405,0.956102,0.966809
78,7139.0,0.990226,1.103215,1.114075,1.357531,1.207345,1.215813,0.960389,0.971396

In [55]:
df = pd.read_table(athenafile2, delim_whitespace=True, skiprows=11,
                       header=None, usecols=np.arange(0, 5))

In [64]:
df2 = pd.read_table(athenafile2, header=None)
df2[:20]

                                                    0
0                            # XDI/1.0 Demeter/0.9.26
1   # Demeter.output_filetype: multicolumn normali...
2                                # Element.symbol: Fe
3                                   # Element.edge: K
4                               # Column.1: energy eV
5               # Column.2: Fe_foilCal_007_Mar_17.avg
6           # Column.3: Pyrite_NMNH_recal_2_15_tr.avg
7              # Column.4: VIVIANITE_006_XANES_tr.avg
8          # Column.5: STRENGITE_XTL_007_XANES_tr.avg
9                           #------------------------
10  #  energy  Fe_foilCal_007_Mar_17.avg  Pyrite_N...
11    7100.0000       0.37501813E-02   0.13625978E...
12    7100.5000       0.22180630E-02   0.13840164E...
13    7101.0000       0.13798207E-02   0.25230376E...
14    7101.5000      -0.22962720E-03   0.24912163E...
15    7102.0000       0.63024574E-03   0.79831785E...
16    7102.5000       0.11128759E-02   0.95369641E...
17    7103.0000      -0.11726831E-02   0.14460423E...
18    7103.5000      -0.77783251E-03   0.21273380E...
19    7104.0000      -0.69543510E-03   0.26903850E...

In [13]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

In [15]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [17]:
df.iloc[0][0]

1